body {
  font-family: 'Rubik', sans-serif;
}
.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
}
.content-wrap{
  flex: 1;
  overflow: auto;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
} */

.small {
  font-weight: 300;
  font-style: italic;
}

:root {
  --space: 1.5em 0;
  --space: 2em 0;
}

.html{
  position:relative; 
  min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html,body{
  margin:0;
  padding:0;
}