/* USER SAVED POSTS */
.viewing-liked{
    font-size: x-large;
    font-family: "Pacifico", cursive;
    text-align: center;
}
.no-saved-message{
    font-size: large;
    font-family: "Work Sans", sans-serif;
    text-align: center;
}
.user-instructions{
    font-size: large;
    font-family: "Work Sans", sans-serif;
    text-align: center;
}
/* VIEW POSTS */
.viewing-posts{
    font-size: xx-large;
    font-family: "Pacifico", cursive;
    text-align: center;
    color: black
}
.cat-btn-group{
    text-align: center;
}
.cat-btn{
    display: center;
    align-self: center;
    text-align: center;
    border-style: solid;
    border-radius: 20px;
}
.cat-btn:hover{
    background-color: rgb(146, 126, 192);
}
/* ABOUT THINGS */
.about-header{
    text-align: center;
    font-family: "Work Sans", sans-serif;
}
.about-body{
    text-align: center;
    font-family: "Work Sans", sans-serif;
}
.about-site{
    text-align: center;
    font-family: "Work Sans", sans-serif;
}
.about-site-heading{
    text-align: center;
    font-family: "Pacifico", cursive;
}
.about-card-1{
    width: 50%;
    align-self: center;
    font-family: "Pacifico", cursive;
}
.author-info{
    text-align: center;
    font-family: "Work Sans", sans-serif;
}
.author-link:hover{
    color: #ec4f4f;
    text-decoration: none;
}

/* WELCOME - SEARCH FOR: */
.welcome-heading{
    font-size: xx-large;
    font-family: "Pacifico", cursive;
    text-align: center;
}
.welcome-text{
    width: 100%;
    font-family: "Work Sans", sans-serif;
    text-align: center;
}
.buttons-card{
    text-align: center;
}
/* POSTS / CARDS */
.post-card{
    width:55%;
    align-self: center;
    padding: 10px;
}
.post-subject{
    font-family: "Work Sans", sans-serif;
    font-style: initial;
}
.username{
    font-family: "Work Sans", sans-serif;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}
.heart-btn{
    border: 0px;
    width: 10px;
    border-style: none;
}
.heart-btn:hover{
    background-color: rgb(155, 127, 255);
}
.comment-btn{
    background-color: rgb(216, 216, 216);
    border: 0px;
    border-style: none;
}
.comment-btn:hover{
    background-color: rgb(155, 127, 255);
}
.delete-btn{
    background-color: rgb(216, 216, 216);
    border: 0px;
    border-style: none;
}
.delete-btn:hover{
    background-color: rgb(155, 127, 255);
}

/* CREATE POST PAGE */
.create-post-heading{
    font-size: x-large;
    font-family: "Pacifico", cursive;
    text-align: center;
}
.create-post{
    width: 1000px;
}
.create-post-link{
    border-radius: 20px;
}
.create-post-link:hover{
    text-decoration: none !important;
}
.create-post-button{
    background-color: white;
    border: none;
}
.create-post-button:hover{
    background-color: white;
    text-decoration: none !important;
}
.choose-category-heading{
    font-size: x-large;
    font-family: "Pacifico", cursive;
    text-align: center;
}
.submit-btn-group{
    text-align: center;
}
.submit-btn{
    display: center;
    align-self: center;
    text-align: center;
    border-style: solid;
    border-radius: 20px;
}
.submit-btn:hover{
    background-color: rgb(155, 127, 255);
}
.checkbox{
    display: inline;
    margin-left: 1vw;
}

/* RULES PAGE */
.rules-card-1{
    width:75%;
    align-self: center;
    padding: 10px;
}
.rules-heading{
    text-align: center;
    font-family: "Pacifico", cursive;
}
.rules-body{
    font-family: "Work Sans", sans-serif;
    font-size: medium;
    text-align: justify;
}
.rule-items{
    font-size: normal;
    text-align: center;
}
.rules-link{
    text-decoration: none !important;
}
.rules-link:hover{
    color: #ec4f4f;
}
